body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

main {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  border-radius: 5px;
}